<div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

      <ng-container matColumnDef="d">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> S.No. </th>
        <td mat-cell *matCellDef="let element"> {{element.d}} </td>
      </ng-container>
      
  
      <!-- Position Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container  matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Details </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Incident Type </th> 
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>


      <ng-container matColumnDef="gender">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Incident Priority </th> 
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.role===''?'Un assigned':element.role}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> User Type </th>
        <td mat-cell *matCellDef="let element"> {{element.isactive?'Active':'In Active'}} </td>
      </ng-container>

      <ng-container matColumnDef="file">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> File </th> 
        <td mat-cell *matCellDef="let element"> {{element.file}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element"> 
            <a *ngIf="element.role!='admin'" (click)="UpdateUser(element.id)" mat-raised-button color="primary">Update</a>
            
        </td>
      </ng-container> 
      <ng-container matColumnDef="view">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> View</th>
        <td mat-cell *matCellDef="let element"> 
            <a *ngIf="element.role!='admin'" (click)="viewuser(element.id)" mat-raised-button color="primary">View</a>
            
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>