<mat-card>
    <mat-card-header>
        <h1>Post Your Complaint</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregisteration()">
          <div> 
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="id">
            </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
         <mat-label>Password</mat-label>
         <input type="password" matInput formControlName="password">
       </mat-form-field>
     </div>
     <div> 
      <mat-form-field class="example-full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="d">
      </mat-form-field>
  </div>
            <div>
                <textarea placeholder="Type your issue in brief" matInput formControlName="name" name="" id="" cols="100" rows="10"></textarea>
            </div>
              <div>
                <mat-form-field class="example-full-width">
                <mat-label>Create Incident</mat-label>
                <mat-select formControlName="email">
                  <mat-option value="A">A</mat-option>
                  <mat-option value="B">B</mat-option>
                  <mat-option value="C">C</mat-option>
                </mat-select> 
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
              <mat-label>Incident Priority</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="General Enquiry">High</mat-option>
                <mat-option value="Minor issue">Medium</mat-option>
                <mat-option value="Major issue">Low</mat-option>
              </mat-select> 
            </mat-form-field>
            <div>
              Attachments:<input type="file" accept="application/pdf" formControlName="file" placeholder="Choose file" style="margin-bottom: 50px;">
          </div>
          </div> 
              <div>
                <button mat-raised-button color="primary" (click)="func()">Submit</button>
                <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
              </div>
            
          </form>

    </mat-card-content>
  </mat-card>

